<div class="card">
  <div class="card-header h5">
    <div class="d-flex flex-row justify-content-between mx-4">
      <div>
        <span class="text-muted">Equipamento: </span> {{ equipamento.modelo }} -
        {{ equipamento.marca }}
      </div>
      <div
        [class.active]="equipamento.ativo"
        [class.inactive]="!equipamento.ativo"
      >
        <span class="text-muted">Status: </span>
        {{ equipamento.ativo ? "Ativo" : "Inativo" }}
      </div>
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title">
      <span class="text-muted ml-4 mr-2">Codigo: </span>
      {{ equipamento.codigo }}
    </h5>
    <div class="row">
      <div class="col-md-8">
        <div class="text-md-center mb-2">Descrição técnica:</div>
        <div class="row">
          <ul class="col-md-6 mx-2">
            <li><span class="text-muted mr-2">Modelo:</span> {{ equipamento.modelo || "N/A" }}</li>
            <li><span class="text-muted mr-2">Marca:</span> {{ equipamento.marca || "N/A" }}</li>
            <li><span class="text-muted mr-2">Codigo:</span> {{ equipamento.codigo || "N/A" }}</li>
            <li><span class="text-muted mr-2">Lacre:</span> {{ equipamento.lacre || "N/A" }}</li>
          </ul>
          <ul class="col-md-5 ml-2">
            <li><span class="text-muted mr-2">Numero Inmetro:</span> {{ equipamento.numeroInmetro || "N/A" }}</li>
            <li><span class="text-muted mr-2">Velocidade Limite:</span> {{ equipamento.velocidadeLimite || "N/A" }}</li>
            <li><span class="text-muted mr-2">Tipo:</span> {{ equipamento.tipo || "N/A" }}</li>
            <li><span class="text-muted mr-2">Faixa:</span> {{ equipamento.faixa || "N/A" }}</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-md-center mb-2">Descrição administrativa:</div>
        <ul>
          <li><span class="text-muted mr-2">Data de Aferição:</span> {{ equipamento.dataAfericao || "N/A" }}</li>
          <li><span class="text-muted mr-2">Data de Registro:</span> {{ equipamento.dataRegistroInmetro || "N/A" }}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="d-flex flex-row justify-content-between mx-4">
      <div>
        <span class="text-muted mr-2">Integrador: </span>
        {{ equipamento.Integrador["nome"] || "N/A"}}
      </div>
      <div>
        <span class="text-muted mr-2">Municipio: </span>
        {{ equipamento.Municipio["descricao"] || "N/A" }} - {{ equipamento.Municipio["uf"] || "N/A" }} - {{ equipamento.Municipio["codigo"] || "N/A" }}
      </div>
      <div>
        <span class="text-muted mr-2">Local: </span>
        {{ equipamento.local || "N/A" }}
      </div>
    </div>
  </div>
</div>
