<div>
  <div class="row">
    <form
      #formFilter="ngForm"
      method="get"
      class="col-md-3 mb-5"
      (submit)="onFilterChange()"
    >
      <div class="card">
        <div class="card-header h5">Filtro de equipamentos:</div>
        <div class="card-body">

          <div class="form-group">
            <label for="codigo">Codigo</label>
            <input
              type="text"
              class="form-control"
              name="codigo"
              id="codigo"
              placeholder="Digite o codigo do equipamento..."
              [(ngModel)]="codigo"
              #codigoModel="ngModel"
            />
          </div>
          <div class="form-group">
            <!-- faixa do equipamento -->
            <label for="faixa">Faixa do equipamento:</label>
            <select
              name="faixa"
              id="faixa"
              class="form-control"
              [(ngModel)]="faixa"
              #faixaModel="ngModel"
            >
              <option [value]="null" selected>Qualquer</option>
              <option [value]="1">1</option>
              <option [value]="2">2</option>
              <option [value]="3">3</option>
              <option [value]="4">4</option>
            </select>
          </div>

          <div class="text-muted text-center">Filtro de status:</div>
          <div class="btn-group btn-group-toggle mt-4 d-flex" data-toggle="buttons">
            <label class="btn btn-secondary active">
              <input
                type="radio"
                id="Qualquer"
                checked
                name="ativo"
                [value]="null"
                [(ngModel)]="ativo"
                #ativoModel="ngModel"
              />
              Qualquer
            </label>
            <label class="btn btn-success">
              <input
                type="radio"
                id="ativo"
                [value]="true"
                name="ativo"
                [(ngModel)]="ativo"
                #ativoModel="ngModel"
              />
              Ativos
            </label>
            <label class="btn btn-danger">
              <input
                type="radio"
                id="Inativos"
                name="ativo"
                [value]="false"
                [(ngModel)]="ativo"
                #ativoModel="ngModel"
              />
              Inativos
            </label>
          </div>
        </div>
        <div class="card-footer">
          <div class="d-flex flex-row justify-content-between">
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="!formFilter.valid"
            >
              Filtrar
            </button>
            <button
              type="button"
              class="btn btn-danger"
              (click)="clearFilters()"
            >
              Limpar filtros
            </button>
          </div>
        </div>
      </div>
    </form>

    <div *ngFor="let equipamento of equipamentos" class="col-md mb-5">
      <app-display-equipamento
        [equipamento]="equipamento"
      ></app-display-equipamento>
    </div>
  </div>
</div>
