<nav class="navbar navbar-expand-lg navbar-light nav-modified">
  <div>
    <a [routerLink]="['/home']" class="navbar-nav mx-3 img-pefil">
      <img src="/assets/images/perfil.png" alt="imagem perfil" />
    </a>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          role="button"
          data-toggle="dropdown"
          aria-expanded="false"
        >
          Equipamentos
        </a>
        <div class="dropdown-menu dropdown-modified">
          <a class="dropdown-item" routerLink="/home/equipamentos"
            >Visualizar</a
          >
          <a class="dropdown-item" [routerLink]="['/home/edit/equipamentos', 0]"
            >Cadastrar</a
          >
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          role="button"
          data-toggle="dropdown"
          aria-expanded="false"
        >
          Fluxos
        </a>
        <div class="dropdown-menu dropdown-modified">
          <a class="dropdown-item" routerLink="/home/fluxos">Visualizar</a>
          <a class="dropdown-item" routerLink="/home/fluxos/analise-de-fluxos"
            >Analise de dados</a
          >
        </div>
      </li>
    </ul>
    <div class="row form-inline mr-3">
      <div class="row mx-2">
        <a class="nav-link" (click)="logout()">
          Sair 
          <img src="/assets/images/log-out.png" alt="sair" />
        </a>
      </div>
      <div (click)="toggleTheme()" *ngIf="theme">
        <img src="/assets/images/moon.png" alt="troca Cores" />
      </div>
      <div (click)="toggleTheme()" *ngIf="!theme">
        <img src="/assets/images/sun.png" alt="troca Cores" />
      </div>
    </div>
  </div>
</nav>
